include .travis.yml
include LICENSE
include README.rst
include tox.ini
recursive-include devproject *
recursive-include ditto/static *
recursive-include ditto/templates *
recursive-include docs *
recursive-include scripts *
recursive-include tests *

