{% comment %}
Display next/prev day links.

Expects:

next -- date.
previous -- date.
ditto_app_slug -- eg 'twitter' or 'flickr'.
ditto_variety_slug -- eg 'tweets' or 'likes'.

Might need to refactor or copy this for month/year pages?

{% endcomment %}
<nav>
    <ul class="pager">
        {% if previous %}
            <li class="pager-prev">
                <a href="{% url 'ditto:day_archive' year=previous|date:'Y' month=previous|date:'m' day=previous|date:'d' app=ditto_app_slug variety=ditto_variety_slug %}"{% if not previous %} class="disabled"{% endif %}>
                    &larr; {{ previous|date:'j M Y' }}
                </a>
            </li>
        {% endif %}
        {% if next %}
            <li class="pager-next">
                <a href="{% url 'ditto:day_archive' year=next|date:'Y' month=next|date:'m' day=next|date:'d' app=ditto_app_slug variety=ditto_variety_slug %}">
                    {{ next|date:'j M Y' }} &rarr;
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
