{% comment %}
Display a list of the accounts we're showing tweets for.

Expects:
* account_list - All the accounts we're showing tweets for.
* page_obj - Representing the list of tweets.
* list_type - 'recent' (default) or 'favorites'.
{% endcomment %}

{% load l10n %}

<div class="card m-b-md">
    <div class="card-block">
        <p class="card-text">
            {{ page_obj.paginator.count|localize }} Tweet{{ page_obj.paginator.count|pluralize }}
            {% if list_type and list_type == 'favorites' %}
                favorited
            {% endif %}
            {% if account_list|length == 1 %}
                by <a href="{{ account_list.0.get_absolute_url }}">{{ account_list.0 }}</a>
            {% else %}
                by {{ account_list|length }} user{{ account_list|length|pluralize }}:
            {% endif %}
        </p>

        {% if account_list|length > 1 %}
            {% for account in account_list %}
                <a class="card-link" href="{{ account.get_absolute_url }}">
                    {{ account }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>

