{% comment %}

Expects:
 * tweet, a Tweet object.
 * detail, boolean - True if this we're showing a single Tweet, False if this
                        Tweet is in a list.
 * show_user, boolean - True if we should show the 'By Phil Gyford' bit, False
                        otherwise.
{% endcomment %}

{% if tweet %}
    <div class="media-left">
        <img class="media-object" src="{{ tweet.user.profile_image_url }}" alt="{{ tweet.user.screen_name }}’s avatar">
    </div>
    <div class="media-body">
        <p class="m-b-0 lead">{{ tweet.text_html|safe }}</p>
        <p class="text-muted">
            {% if show_user %}
                By {{ tweet.user.name }} ({{ tweet.user }}) •
            {% endif %}
            {% if tweet.is_reply %}
                <a href="{{ tweet.in_reply_to_url }}" title="See their Tweet">In reply to @{{ tweet.in_reply_to_screen_name }}</a> •
            {% endif %}
            <time datetime="{{ tweet.created_at|date:'Y-m-d H:i:s' }}">{{ tweet.created_at|date:'j M Y, g:i A' }}</time>
            {% if not detail %}
                • <a href="{{ tweet.get_absolute_url }}">#</a>
            {% endif %}
                • <a href="{{ tweet.permalink }}">View on Twitter</a>
        </p>
    </div>
{% endif %}

