{% extends 'lastfm/base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'ditto:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'lastfm:home' %}">Last.fm</a></li>
    <li class="breadcrumb-item active">Album</li>
{% endblock %}

{% block content %}

    {% load ditto_core %}

    <h1 class="m-y-2">
        <a href="{% url 'lastfm:artist_detail' artist_slug=album.artist.slug %}">
            {{ album.artist }}
        </a><br>
        {% block title %}
            {{ album.name }}
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-9 lastfm-track">

        </div> <!-- .col -->

        <div class="col-md-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ album.permalink }}">At Last.fm</a>
                    </li>
                    {% if album.musicbrainz_url %}
                        <li class="list-group-item">
                            <a href="{{ album.musicbrainz_url }}">At MusicBrainz</a>
                        </li>
                    {% endif %}
                    {% if perms.lastfm.can_change_track %}
                        <li class="list-group-item">
                            <a href="{% url 'admin:lastfm_album_change' album.id %}" title="Edit this album in the Django Admin">Edit</a>
                        </li>
                    {% endif %}
                    <li class="list-group-item text-muted">
                        <small>Last updated {% display_time album.time_modified True %}</small>
                    </li>
                </ul>
            </div>
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

