{% extends 'lastfm/base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'ditto:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'lastfm:home' %}">Last.fm</a></li>
    <li class="breadcrumb-item active">Artist</li>
{% endblock %}

{% block content %}

    {% load ditto_core %}

    <h1 class="m-y-2">
        {% block title %}
            {{ artist.name }}
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-9 lastfm-artist">
            <table class="table table-striped table-sm lastfm-scrobbles">
                <thead>
                    <tr>
                        <th class="text-xs-right">Rank</th>
                        <th>Track</th>
                        <th class="text-xs-right">Scrobbles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in artist.get_top_tracks %}
                        <tr>
                            <td class="text-xs-right">
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <a href="{{ track.get_absolute_url }}">{{ track.name }}</a>
                            </td>
                            <td class="text-xs-right">
                                {{ track.scrobble_count }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div> <!-- .col -->

        <div class="col-md-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ artist.permalink }}">At Last.fm</a>
                    </li>
                    {% if artist.musicbrainz_url %}
                        <li class="list-group-item">
                            <a href="{{ artist.musicbrainz_url }}">At MusicBrainz</a>
                        </li>
                    {% endif %}
                    {% if perms.lastfm.can_change_artist %}
                        <li class="list-group-item">
                            <a href="{% url 'admin:lastfm_artist_change' artist.id %}" title="Edit this artist in the Django Admin">Edit</a>
                        </li>
                    {% endif %}
                    <li class="list-group-item text-muted">
                        <small>Last updated {% display_time artist.time_modified True %}</small>
                    </li>
                </ul>
            </div>
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

