{% extends 'twitter/base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'twitter:index' %}">Twitter</a></li>
    <li class="active">{{ account.user }}</li>
{% endblock %}

{% block content %}
    <h1>{% block title %}Tweets by {{ account.user.name }} <small class="text-muted">{{ account.user }}</small>{% endblock %}</h1>

    {% include 'twitter/includes/user.html' with user=account.user only %}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{% url 'twitter:account_detail' screen_name=account.user.screen_name %}">Tweets</a></li>
        <li role="presentation"><a href="{% url 'twitter:account_favorites' screen_name=account.user.screen_name %}">Favorites</a></li>
    </ul>

    {% include 'twitter/includes/tweet_list.html' with tweet_list=tweet_list page_obj=page_obj show_user=False only %}

{% endblock content %}

