{% extends 'twitter/base.html' %}
{% load l10n %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'twitter:index' %}">Twitter</a></li>
    <li class="active">Likes</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-md">
        {% block title %}
            Twitter likes
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            {% include 'twitter/includes/account_list.html' with account_list=account_list page_obj=page_obj list_type='favorites' only %}
        </div> <!-- .col -->

        <div class="col-md-9">
            <ul class="nav nav-tabs m-b-md">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'twitter:index' %}">Tweets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"href="{% url 'twitter:favorites' %}">Likes</a>
                </li>
            </ul>

            {% include 'twitter/includes/tweet_list.html' with tweet_list=tweet_list page_obj=page_obj show_user=True perms=perms only %}
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

