{% extends 'twitter/base.html' %}
{% load l10n %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'twitter:index' %}">Twitter</a></li>
    <li class="active">Favorites</li>
{% endblock %}

{% block content %}
    <h1>{% block title %}Twitter favorites{% endblock %}</h1>

    {% include 'twitter/includes/account_list.html' with account_list=account_list page_obj=page_obj list_type='favorites' only %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'twitter:index' %}">Tweets</a></li>
        <li role="presentation" class="active"><a href="{% url 'twitter:favorites' %}">Favorites</a></li>
    </ul>

    {% include 'twitter/includes/tweet_list.html' with tweet_list=tweet_list page_obj=page_obj show_user=True only %}

{% endblock content %}

