{% extends 'twitter/base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:home' %}">Home</a></li>
    <li class="active">Twitter</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-2">
        {% block title %}
            Twitter
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            {% include 'twitter/includes/account_list.html' with account_list=account_list count=page_obj.paginator.count list_type='recent' only %}
        </div> <!-- .col -->

        <div class="col-md-9">
            {% include 'twitter/includes/nav_tabs.html' with active='tweets' only %}

            {% include 'twitter/includes/tweet_list.html' with tweet_list=tweet_list page_obj=page_obj perms=perms only %}
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

