{% extends 'twitter/base.html' %}
{% load l10n %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'twitter:index' %}">Twitter</a></li>
    <li>
        {% if account == None %}
            {{ twitter_user }}
        {% else %}
            <a href="{% url 'twitter:account_detail' screen_name=account.user.screen_name %}">{{ account.user }}</a>
        {% endif %}
    </li>
    <li class="active">Tweet</li>
{% endblock %}

{% block content %}

    <h1 class="display-4 m-y-md">
        {% block title %}
            A Tweet by {{ twitter_user.name }}
            <small class="text-muted">{{ twitter_user }}</small>
        {% endblock %}
    </h1>

    {% include 'twitter/includes/user.html' with user=twitter_user account=account only %}

    {% if twitter_user.is_private %}
        {# The `tweet` object will be None, too. #}}
        <p>This user is private.</p>
    {% else %}
        {% include 'twitter/includes/tweet.html' with tweet=tweet detail=True whow_user=False only %}
    {% endif %}

{% endblock content %}

