[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "==1.9.1"
Django = "==2.1.2"
django-ditto = {editable = true, path = "./.."}
twython = "==3.7.0"

[dev-packages]

[requires]
python_version = "3.6"
