[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = ">=2.0, <3.0"
Django = ">=3.0, <3.1"
django-ditto = {editable = true,path = "./.."}
twython = ">=3.7.0, <3.9"

[dev-packages]

[requires]
python_version = "3.8"
