Django==1.9.5
django-debug-toolbar==1.4
-e git+git@github.com:philgyford/django-ditto.git@665b3658e63b98753dbce96a98a838101638111e#egg=django_ditto
django-sortedm2m==1.2.2
django-taggit==0.18.1
flickrapi==2.1.2
oauthlib==1.0.3
pytz==2016.4
requests==2.9.1
requests-oauthlib==0.6.1
requests-toolbelt==0.6.0
six==1.10.0
sqlparse==0.1.19
twitter-text-python==1.1.0
twython==3.3.0
