{% extends 'flickr/base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li class="active">Flickr</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-md">
        {% block title %}
            Flickr 
        {% endblock %}
    </h1>

            {% include 'flickr/includes/account_list.html' with account_list=account_list page_obj=page_obj list_type='recent' only %}

            <ul class="nav nav-tabs m-b-md">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'flickr:index' %}">Photos</a>
                </li>
            </ul>

            {# We only show the 'By Phil Gyford' bit on tweets if we're showing more than one Account on this page. #}
            {% if account_list|length > 1  %}
                {% include 'flickr/includes/photo_list.html' with photo_list=photo_list page_obj=page_obj perms=perms only %}
            {% else %}
                {% include 'flickr/includes/photo_list.html' with photo_list=photo_list page_obj=page_obj perms=perms only %}
            {% endif %}

{% endblock content %}


