{% extends 'flickr/base.html' %}
{% load l10n %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'flickr:index' %}">Flickr</a></li>
    <li><a href="{% url 'flickr:user_detail' nsid=user.nsid %}">{{ user.name }}</a></li>
    <li><a href="{% url 'flickr:user_photoset_list' nsid=user.nsid %}">Albums</a></li>
    <li class="active">{{ photoset.title }}</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-2">
        {% block title %}
            {{ photoset.title }}
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <p class="card-text">
                        {{ page_obj.paginator.count|localize }} photo{{ page_obj.paginator.count|pluralize }}
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'flickr:user_detail' nsid=user.nsid %}">All {{ user.name }}’s photos</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'flickr:user_photoset_list' nsid=user.nsid %}">All {{ user.name }}’s photosets</a>
                    </li>
                </ul>
            </div>
        </div> <!-- .col -->

        <div class="col-md-9">
            {% include 'flickr/includes/sorting.html' with request=request order=order only %}

            {% include 'flickr/includes/photo_list.html' with request=request photo_list=photo_list order=order page_obj=page_obj perms=perms only %}
        </div> <!-- .col -->
    </div> <!-- .row -->


{% endblock content %}

