{% extends 'ditto/base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li class="active">{{ day|date:'j M Y' }}</li>
{% endblock %}

{% block content %}
    <h1 class="m-y-2">
        {% block title %}
            {{ day|date:'l, j F Y' }}
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            {% include 'ditto/includes/variety_nav.html' with variety_counts=variety_counts ditto_app_name=ditto_app_name ditto_variety_name=ditto_variety_name day=day only %}
        </div>

        <div class="col-md-9">
            {% include 'ditto/includes/pager.html' with next=next_day previous=previous_day ditto_app_slug=ditto_app_slug ditto_variety_slug=ditto_variety_slug only %}

            {% if object_list|length > 0 %}
                {% if date_field == 'taken_time' %}
                    {% include 'ditto/includes/item_lists.html' with view='day' order='taken' %}
                {% else %}
                    {% include 'ditto/includes/item_lists.html' with view='day' order='uploaded' %}
                {% endif %}

                {% include 'ditto/includes/pager.html' with next=next_day previous=previous_day ditto_app_slug=ditto_app_slug ditto_variety_slug=ditto_variety_slug only %}

            {% else %}
                <p>There is nothing to display for this day.</p>
            {% endif %}
        </div>
    </div> <!-- .row -->


{% endblock content %}

