<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title %}{% block title %}{% endblock %} (Ditto){% endblock %}</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    </head>
    <body>

        <nav class="navbar navbar-dark bg-inverse m-b">
            <div class="container">
                <a class="navbar-brand" href="{% url 'ditto:index' %}">Ditto</a>

                <ul class="nav navbar-nav">
                    <li class="nav-item {% block pinboard_nav_active %}{% endblock %}"><a class="nav-link" href="{% url 'pinboard:index' %}">Pinboard</a></li>
                    <li class="nav-item {% block twitter_nav_active %}{% endblock %}"><a class="nav-link" href="{% url 'twitter:index' %}">Twitter</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">

            <ol class="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </ol>

            {% block content %}
            {% endblock content %}

        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
