<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title %}{% block title %}{% endblock %} (Ditto){% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ditto-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'ditto:index' %}">Ditto</a>
                </div>

                <div class="collapse navbar-collapse" id="ditto-navbar">
                    <ul class="nav navbar-nav">
                        <li class="{% block pinboard_nav_active %}{% endblock %}"><a href="{% url 'pinboard:index' %}">Pinboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <ol class="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </ol>

            {% block content %}
            {% endblock content %}

        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
