{% extends "ditto/base.html" %}

{% block head_title %}Ditto{% endblock %}

{% block breadcrumbs %}
    <li class="active">Home</li>
{% endblock %}

{% block content %}
    <h1>Ditto</h1>

    {% if pinboard_bookmark_list and pinboard_bookmark_list|length > 0 %}
        <h2>Pinboard bookmarks</h2>

        {% include 'pinboard/includes/bookmark_list.html' with bookmark_list=pinboard_bookmark_list page_obj=False only %}

        <p><a href="{% url 'pinboard:index' %}">More Pinboard bookmarks</a></p>
    {% endif %}

    {% if twitter_recent_tweet_list and twitter_recent_tweet_list|length > 0 %}
        <h2>Recent Tweets</h2>

        {% include 'twitter/includes/tweet_list.html' with tweet_list=twitter_recent_tweet_list show_user=True page_obj=False only %}

        <p><a href="{% url 'twitter:index' %}">More Tweets</a></p>
    {% endif %}

    {% if twitter_favorites_tweet_list and twitter_favorites_tweet_list|length > 0 %}
        <h2>Favorited Tweets</h2>

        {% include 'twitter/includes/tweet_list.html' with tweet_list=twitter_favorites_tweet_list show_user=True page_obj=False only %}

        <p><a href="{% url 'twitter:index' %}">More Tweets</a></p>
    {% endif %}
{% endblock %}

