{% comment %}
For displaying a series of lists of different items - Bookmarks, Tweets, etc.

Expects to be in context.

May specifically have:
* view - optional, 'day' or 'detail'

{% endcomment %}

{% if flickr_photo_list and flickr_photo_list|length > 0 %}

    <h2 class="m-y-md">
        <a href="{% url 'flickr:index' %}">Flickr photos</a>
    </h2>

    {% include 'flickr/includes/photo_list.html' with photo_list=flickr_photo_list view=view|default:False %}

{% endif %}

{% if pinboard_bookmark_list and pinboard_bookmark_list|length > 0 %}

    <h2 class="m-y-md">
        <a href="{% url 'pinboard:index' %}">Pinboard bookmarks</a>
    </h2>

    {% include 'pinboard/includes/bookmark_list.html' with bookmark_list=pinboard_bookmark_list view=view|default:False %}

{% endif %}

{% if twitter_tweet_list and twitter_tweet_list|length > 0 %}

    <h2 class="m-y-md">
        <a href="{% url 'twitter:index' %}">Twitter tweets</a>
    </h2>

    {% include 'twitter/includes/tweet_list.html' with tweet_list=twitter_tweet_list view=view|default:False %}

{% endif %}

{% if twitter_favorite_list and twitter_favorite_list|length > 0 %}

    <h2 class="m-y-md">
        <a href="{% url 'twitter:favorites' %}">Favorited tweets</a>
    </h2>

    {% include 'twitter/includes/tweet_list.html' with tweet_list=twitter_favorite_list view=view|default:False %}

{% endif %}


