{% comment %}
Displays links to varieties of a page, each one for a different kind of item (tweet, favorite tweet, photo, etc).

Expects:

* item_counts -- A list of dicts, each dict with 'context_object_name', 'count', 'app_slug' and 'variety_slug' elements.

* ditto_app_name -- eg 'twitter' or 'flickr'.

* ditto_variety_name -- eg 'tweets' or 'favorites'.

And one of:

* day -- If this is the Day Archive page, the date we're viewing.
* tag_slug -- If this is the Tag page we're viewing.

{% endcomment %}

<div class="list-group">
    {% for item in item_counts %}
        <a href="{% spaceless %}
            {% if day %}
                {% url 'ditto:day_archive' year=day|date:'Y' month=day|date:'m' day=day|date:'d' app=item.app_slug variety=item.variety_slug %}
            {% endif %}
        {% endspaceless %}" class="list-group-item{% if item.app_name == ditto_app_name and item.variety_name == ditto_variety_name %} active{% endif %}">
            <span class="label label-default label-pill pull-xs-right">{{ item.count }}</span>
            {% if item.app_name == 'pinboard' %}
                Pinboard bookmarks
            {% elif item.app_name == 'flickr' %}
                {% if item.variety_name == 'photo-taken' %}
                    Flickr photos (taken)
                {% else %}
                    Flickr photos (uploaded)
                {% endif %}
            {% elif item.app_name == 'twitter' %}
                {% if item.variety_name == 'favorite' %}
                    Twitter favorites
                {% else %}
                    Twitter tweets
                {% endif %}
            {% endif %}
        </a>
    {% endfor %}
</div>

