cookies==2.2.1
coverage==3.7.1
Django==1.8.12
django-debug-toolbar==1.3.0
-e git+git@github.com:philgyford/django-ditto.git@56d7a959ac343b33bef433ef6f24b3762e50fa6c#egg=django_ditto
django-taggit==0.18.1
factory-boy==2.5.2
flickrapi==2.1.2
freezegun==0.3.4
mock==1.3.0
oauthlib==1.0.3
pbr==1.5.0
python-dateutil==2.4.2
pytz==2015.4
requests==2.7.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.0
responses==0.4.0
six==1.9.0
sqlparse==0.1.15
twitter-text-python==1.1.0
twython==3.3.0
