{% extends 'pinboard/base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'pinboard:index' %}">Pinboard</a></li>
    <li class="active">{{ account.username }}</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-2">
        {% block title %}
            Pinboard bookmarks by {{ account.username }}
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            {% include 'pinboard/includes/account.html' with account=account perms=perms only %}
        </div> <!-- .col -->

        <div class="col-md-9">
            <ul class="nav nav-tabs m-b-2">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'pinboard:account_detail' username=account.username %}">All bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pinboard:account_toread' username=account.username %}">To read</a>
                </li>
            </ul>

            {% include 'pinboard/includes/bookmark_list.html' with bookmark_list=bookmark_list page_obj=page_obj perms=perms only %}
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

