{% extends 'pinboard/base.html' %}
{% load l10n %}

{% block head_title %}Pinboard{% endblock %}
{% block body_title %}Bookmarks by {{ account.username }} tagged with “{{ tag.name }}”{% endblock %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-body">
			{{ page_obj.paginator.count|localize }} bookmark{{ page_obj.paginator.count|pluralize }}<br>
			<a href="{{ account.url }}/t:{{ tag.slug }}">View {{ account.username }}’s “{{ tag.name }}” tag on Pinboard</a>
		</div>
	</div>

	{% include 'pinboard/includes/bookmark_list.html' with bookmark_list=bookmark_list page_obj=page_obj only %}

	
{% endblock content %}

