{% extends 'pinboard/base.html' %}
{% load l10n %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'pinboard:index' %}">Pinboard</a></li>
    <li><a href="{% url 'pinboard:account_detail' username=account.username %}">{{ account.username }}</a></li>
    <li class="active">To read</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-md">
        {% block title %}
            Pinboard bookmarks by {{ account.username }}
        {% endblock %}
    </h1>

	<div class="row">
		<div class="col-md-3">
			<div class="card m-b-md">
				<div class="card-block">
					{{ page_obj.paginator.count|localize }} bookmark{{ page_obj.paginator.count|pluralize }} marked “to read”
					{% if account.is_active %}
						<br>
						<a href="{{ account.url }}">{{ account.username }} on Pinboard</a>
					{% endif %}
				</div>
			</div>
		</div> <!-- .col -->

		<div class="col-md-9">
			<ul class="nav nav-tabs m-b-md">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'pinboard:account_detail' username=account.username %}">All bookmarks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'pinboard:account_toread' username=account.username %}">To read</a>
				</li>
			</ul>

			{% include 'pinboard/includes/bookmark_list.html' with bookmark_list=bookmark_list page_obj=page_obj perms=perms only %}
		</div> <!-- .col -->
	</div> <!-- .row -->

{% endblock content %}

