{% extends 'pinboard/base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'pinboard:index' %}">Pinboard</a></li>
    <li><a href="{% url 'pinboard:account_detail' username=bookmark.account.username %}">{{ bookmark.account.username }}</a></li>
    <li class="active">Bookmark</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-2">
        {% block title %}
            Pinboard bookmark
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-9">
            <div class="media m-t-0 pinboard-bookmark pinboard-bookmark-detail">
                <hr>
                {% include 'pinboard/includes/bookmark.html' with bookmark=bookmark view='detail' perms=perms only %}
            </div>
        </div> <!-- .col -->

        <div class="col-md-3">
            {% include 'pinboard/includes/account.html' with account=bookmark.account only %}
        </div> <!-- .col -->
    </div>

{% endblock content %}

