{% extends 'pinboard/base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'ditto:home' %}">Home</a></li>
    <li class="breadcrumb-item active">Pinboard</li>
{% endblock %}

{% block content %}

    <h1 class="my-4">
        {% block title %}
            Pinboard bookmarks
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            {% include 'ditto/includes/account_list.html' with account_list=account_list service_name='Pinboard' only %}

            {% load l10n %}
            <div class="card mb-3">
                <ul class="list-group list-group-flush flickr-user-counts">
                    <li class="list-group-item">
                        {{ page_obj.paginator.count|localize }} bookmark{{ page_obj.paginator.count|pluralize }}
                    </li>
                </ul>
            </div>

            {% include 'pinboard/includes/popular_tags.html' only %}

            {% include 'pinboard/includes/annual_bookmark_counts.html' only %}

        </div> <!-- .col -->

        <div class="col-md-9">
            {% include 'pinboard/includes/nav_tabs.html' with active='bookmarks' only %}

            {% include 'pinboard/includes/bookmark_list.html' with bookmark_list=bookmark_list page_obj=page_obj perms=perms only %}
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

