{% extends 'pinboard/base.html' %}
{% load l10n %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:index' %}">Home</a></li>
    <li><a href="{% url 'pinboard:index' %}">Pinboard</a></li>
    <li><a href="{% url 'pinboard:tag_list' %}">Tags</a></li>
    <li class="active">{{ tag.name }}</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-md">
        {% block title %}
            Bookmarks tagged with “{{ tag.name}}”
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card m-b-md">
                <div class="card-block">
                    <p class="card-text">
                        {{ page_obj.paginator.count|localize }} bookmark{{ page_obj.paginator.count|pluralize }}
                        {% if account_list|length == 1 %}
                            by <a href="{{ account_list.0.get_absolute_url }}">{{ account_list.0.username }}</a> (“<a href="{% url 'pinboard:account_tag_detail' username=account_list.0.username tag_slug=tag.slug %}">{{ tag.name }}</a>”)
                        {% else %}
                            by {{ account_list|length }} user{{ account_list|length|pluralize }}:
                        {% endif %}
                    </p>

                    {% if account_list|length > 1 %}
                        {% for account in account_list %}
                            <a class="card-link" href="{% url 'pinboard:account_tag_detail' username=account.username tag_slug=tag.slug %}">
                                {{ account.username }}’s
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div> <!-- .col -->

        <div class="col-md-9">
            {% include 'pinboard/includes/bookmark_list.html' with bookmark_list=bookmark_list page_obj=page_obj perms=perms only %}
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

