{% extends 'pinboard/base.html' %}

{% block breadcrumbs %}
    <li><a href="{% url 'ditto:home' %}">Home</a></li>
    <li class="active">Pinboard</li>
{% endblock %}

{% block content %}

    <h1 class="m-y-2">
        {% block title %}
            Pinboard bookmarks marked “to&nbsp;read”
        {% endblock %}
    </h1>

    <div class="row">
        <div class="col-md-3">
            {% include 'pinboard/includes/account_list.html' with account_list=account_list count=page_obj.paginator.count list_type='toread' only %}
        </div> <!-- .col -->

        <div class="col-md-9">
            {% include 'pinboard/includes/nav_tabs.html' with active='toread' only %}

            {% include 'pinboard/includes/bookmark_list.html' with bookmark_list=bookmark_list page_obj=page_obj perms=perms only %}
        </div> <!-- .col -->
    </div> <!-- .row -->

{% endblock content %}

